<br><br>
<div class="container">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h4 class="display-4"><p class="text-center">Blog Post erstellen</p></h4>
    </div>
    <div class="col-2"></div>
  </div>
  <br>

  <div class="row">
    <div class="form-group col-md-4">
      <label for="title">Title </label>
      <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title" ></div>

    <div class="form-group col-md-4">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" id="tags" placeholder="tags" [(ngModel)]="tags">
    </div>
    <div class="col-md-4 form-group">
      <image-upload url="{{img_url}}" dropBoxMessage="Header Bild einfügen"></image-upload></div>
  </div>

  <div class="row">
    <div class="editor block">
      <app-ngx-editor [config]="editorConfig" [placeholder]="placeholder" [spellcheck]="true" [(ngModel)]='content'
                      [ngModelOptions]="{standalone: true}"></app-ngx-editor>
    </div>
  </div>
  <div class="row"><br><br></div>
  <div class="row">
    <br><br>
    <button  type="submit" class=" btn btn-block btn-success" (click)="addPost()" >Post erstellen  </button>
  </div>
  <br>
  <div *ngIf="content" class="htmlblock block">
    <h6>HTML Output</h6>
    <p class="lead" [innerHtml]="content"></p>
  </div>


</div>
