<br>
<div class="container" (onchange)="setImgClass()">
  <div class="card">
    <div class="card-header " [ngClass]="color_add"><h3 class="display-3 text-center" >Post erstellen</h3></div>
    <div class="card-body"><div class="container">

      <div class="row">
        <div class="form-group col-md-3">
          <label for="title">Title </label>
          <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title" ></div>

        <div class="form-group col-md-3">
          <label for="tag">Kategorie</label>
          <select class="form-control optional" id="tag" (onchange)="getTagFromColor()" [(ngModel)]="color_add">
            <option *ngFor = "let tag of tags" [value]="tag.color" >{{tag.name }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="img_url">Header Image</label>
          <select class="form-control optional" id="img_url"  [(ngModel)]="img_index">
            <option *ngFor = "let img of own_imgs, index as index" [value]="index" >{{img.name}}</option>
          </select>
        </div>

        <div class="col-md-2 form-group">
          <label for="imgClass">Bilder </label>
          <button  type="submit" class=" btn btn-block btn-primary" id="imgClass" (click)="setImgClass()" >skalieren  </button>

        </div>
      </div>

      <div class="row">
        <div class="editor block">
          <app-ngx-editor [config]="editorConfig" [placeholder]="placeholder" [spellcheck]="true"
                          [(ngModel)]='content' [imageEndPoint]="endpoint"
                          [ngModelOptions]="{standalone: true}"></app-ngx-editor>
        </div>
      </div>
      <div class="row"><br></div>
      <div class="div" *ngIf="mapActive">
        <div class="row">
          <div class="col-md-6">
            <h5 class="display-5 text-center">Kartenmittelpunkt</h5>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="latitude">Zentrum Karte </label>
            <input type="text" class="form-control" id="latitude" placeholder="47.66332" [(ngModel)]="latitude" >
          </div>
          <div class="form-group col-md-3">
            <label for="longitude">Longitude Karte </label>
            <input type="text" class="form-control" id="longitude" placeholder="11.20835" [(ngModel)]="longitude" >
          </div>
          <div class="form-group col-md-3">
            <label for="zoom">Zoom</label>
            <input type="text" class="form-control" id="zoom" placeholder="10" [(ngModel)]="zoom" >
          </div>
        </div>
      </div>
      <div class="row">
        {{latitude}} {{longitude}}
      </div>
      <div class="row">
        <div class="col-md-12"><button  type="submit" class=" btn btn-block btn-primary" (click)="addPost()" >Post erstellen  </button></div>
      </div>
      <br>
      <div *ngIf="content" class="htmlblock block">
        <h6>HTML Output</h6>
        <p class="lead" [innerHtml]="content"></p>
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    </div>
  </div>
</div>


