<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h4 class="display-4"><p class="text-center">Blogeintrag erstellen</p></h4>
  </div>
  <div class="col-2"></div>
</div>
<br>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
  </div>
  <div class="form-group col-md-6">
    <label for="tags">Tags</label>
    <select class="form-control" id="tags" name='tags' formControlName="tags">
      <option selected = "selected">Reisen</option>
      <option >Kulinarisch</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="editor block">
    <app-ngx-editor [config]="editorConfig" [placeholder]="placeholder" [spellcheck]="true" [(ngModel)]='content'
                    [ngModelOptions]="{standalone: true}"></app-ngx-editor>
  </div>
</div>
<div class="row">
  <br><br>
  <div class="col-3"><button  type="submit" class=" btn btn-block btn-danger" routerLink="/admin/editInfo">back </button></div>
  <div class="col-9"><button  type="submit" class=" btn btn-block btn-success">update  </button></div>

</div>
<br>
<div *ngIf="content" class="htmlblock block">
  <h6>HTML Output</h6>
  <p class="lead" [innerHtml]="content"></p>
</div>
