<br><div class="container" *ngIf="img">
  <div class="row">
    <div class="col-md-2"><br>
      <button  type="submit" class=" align-top btn btn-block btn-outline-danger" (click)="prevImg()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

    </div>
    <div class="col-md-8">
      <h4 class="display-4 text-center align-top " style="color: #007BFF">{{img?.title}}</h4>
    </div>
    <div class="col-md-2"><br>
      <button  type="submit" class=" align-top btn btn-block btn-outline-success" (click)="nextImg()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
  </div>
    <div class="row">
    <img src="{{img?.img_path}}" alt="" class="img-fluid" (click)="nextImg()" style="width: 100%; height: 100%; padding: 5px">
  </div>

</div>

