<div class="container">
  <div class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="info" class="nav-link" >Informationen</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="gallery">Gallerie</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="booking">Buchung</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <a class="navbar-brand" style="color:aliceblue">Studio Murnauer Moos</a>
        </ul>
      </div>
    </div>
  </div>
</div><br><br><br>
<div class="container"><br>
  <router-outlet></router-outlet>
</div>
