<div class="container">
  <div class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item">
            <a class="navbar-brand" routerLink="info" style="color:aliceblue" >Studio Murnauer Moos</a>
          </li>
<!--          <li routerLinkActive="active" class="nav-item">
            <a routerLink="info" class="nav-link" ><i class="fa fa-info" aria-hidden="true"></i> Informationen</a>
          </li> -->
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="gallery"><i class="fa fa-image" aria-hidden="true"></i> Gallerie</a>
          </li>
          <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="blog"  routerLinkActive="active-link"><i class="fa fa-book" aria-hidden="true"></i> Blog</a></li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="impressum"><i class="fa fa-key" aria-hidden="true"></i> Impressum</a>
          </li>
          <li routerLinkActive="active" class="nav-item" *ngIf="(router.url === '/admin/editInfo/preisInfo') || (router.url === '/admin/editInfo')">
            <a class="nav-link" routerLink="admin/editInfo"><i class="fa fa-edit" aria-hidden="true"></i> EDITIERMODUS</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="admin" *ngIf="(auth.isAdmin() && auth.isAuthenticated() )" routerLinkActive="active-link"><i class="fa fa-gear" aria-hidden="true"></i> Dashboard</a></li>
          <li routerLinkActive="active" class="nav-item"><a class="nav-link" (click)="auth.login()" *ngIf="!auth.isAuthenticated()"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          <li routerLinkActive="active" class="nav-item"><a class="nav-link" (click)="auth.logout()" *ngIf="auth.isAuthenticated()" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br><br>
<router-outlet></router-outlet>
