<div class="container text-center">
  <h1 class="display-1">Impressum</h1>
  <p class="lead">Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</p>
  <p  class="lead"></p><strong>Susanne Meyer-Keusch</strong>
  <p class="lead">Oberfeldweg 7,
    <br>82418 Hechendorf, <br>Deutschland</p>
  <p class="lead"><strong>Tel.:</strong> +49 175 6154536<br>
    <strong>E-Mail:</strong> <a href="studio.murnauermoos@gmail.com">studio.murnauermoos@gmail.com</a></p>
  <h2  class="display-3">EU-Streitschlichtung</h2>
  <p>Angaben zur Online-Streitbeilegung: Verbraucher haben die Möglichkeit, Beschwerden an die OnlineStreitbeilegungsplattform der EU zu richten:
    <a class=" " href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"  rel="nofollow">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a>.
    Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.</p>
  <h2 class="display-3 ">Haftung für Inhalte dieser Webseite</h2>
  <p>Wir entwickeln die Inhalte dieser Webseite
    ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung
    für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt
    wird. Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren,
    Sie finden die Kontaktdaten im Impressum.</p>
  <h2 class="display-3">Haftung für Links auf dieser Webseite</h2><p>Unsere Webseite enthält Links zu anderen
  Webseiten für deren Inhalt wir nicht verantwortlich sind. Wenn Ihnen rechtswidrige Links auf unserer Webseite
  auffallen, bitte wir Sie uns zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
  <h2 class="display-3">Urheberrechtshinweis</h2><p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos)
  unterliegen dem Urheberrecht. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite
  rechtlich verfolgen.</p>
  <h2 class="display-3 ">Bildernachweis</h2><p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind
  urheberrechtlich geschützt.</p>
  <p>Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:</p>
  <ul class="list-group ">
    <li class=" list-group-item">Susanne Meyer-Keusch</li>
    <li class=" list-group-item"><a class=" "
                                    title="Kostenlose, lizenzfreie Bilder und Fotos für kommerzielle Nutzung"
                                    href="https://www.adsimple.at/kostenlose-bilder/" target="_blank"
                                    rel="follow noopener">AdSimple Bilder</a></li>
  </ul>
  <br><h1 class="display-1">Datenschutzerklärung</h1>
  <h2 class="display-3 ">Datenschutz</h2>
  <p>Wir haben  diese Datenschutzerklärung (Fassung 04.06.2018-221062203) verfasst, um Ihnen gemäß der Vorgaben der
    EU-Datenschutz-Grundverordnung zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche
    Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
  <p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der
    Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar zu beschreiben.</p>
  <h2 class="display-3 ">Automatische Datenspeicherung</h2>
  <p>Wenn Sie heutzutage Webseiten besuchen, werden
    gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</p>
  <p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite
    gespeichert ist) automatisch Daten wie</p>
  <ul class="list-group">
    <li class="list-group-item">die Adresse (URL) der aufgerufenen Webseite</li>
    <li class="list-group-item">Browser und Browserversion</li>
    <li class="list-group-item">das verwendete Betriebssystem</li>
    <li class="list-group-item">die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
    <li class="list-group-item">den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
    <li class="list-group-item">Datum und Uhrzeit</li>
  </ul>
  <p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten
    nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten
    eingesehen werden.</p>
  <h2 class="display-3">Speicherung persönlicher Daten</h2>
  <p>Persönliche Daten, die Sie uns auf dieser Website
    elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen
    der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der
    IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</p>
  <p>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich
    wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre
    persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von
    rechtswidrigem Verhalten eingesehen werden.</p>
  <p>Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere
    Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt
    per E-Mail zu übermitteln.</p>
  <h2 class=" display-3">Rechte laut Datenschutzgrundverordnung</h2><p>Ihnen stehen laut den Bestimmungen der
  DSGVO und des österreichischen Datenschutzgesetzes (DSG) grundsätzlich die folgende Rechte zu:</p>
  <ul class="list-group">
    <li class="list-group-item">Recht auf Berichtung (Artikel 16 DSGVO)</li>
    <li class="list-group-item">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li class="list-group-item ">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li class="list-group-item ">Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung
      oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)
    </li>
    <li class="list-group-item ">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li class="list-group-item ">Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li class="list-group-item ">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung —
      einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
    </li>
  </ul>
  <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde
    beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a class=" "
                                                                                             href="https://www.dsb.gv.at/"
                                                                                             rel="nofollow">https://www.dsb.gv.at/</a>
    finden.</p>
  <h2 class="display-3 ">Cookies</h2>
  <p>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.<br>
    Ein Cookie ist ein kurzes Datenpaket, welches zwischen Webbrowser und Webserver ausgetauscht wird, für diese aber
    völlig bedeutungslos ist und erst für die Webanwendung, z. B. einen Online-Shop, eine Bedeutung erhält, etwa den
    Inhalt eines virtuellen Warenkorbes.<br>
    Es gibt zwei Arten von Cookies: Erstanbieter-Cookies werden von unserer Website erstellt, Drittanbieter-Cookies werden
    von anderen Websites (z. B. Google Analytics) erstellt.<br>
    Man unterscheidet drei Kategorien von Cookies: unbedingt notwendige Cookies um grundlegende Funktionen der Website
    sicherzustellen, funktionelle Cookies um die Leistung der Webseite sicherzustellen und zielorientierte Cookies um das
    Benutzererlebnis zu verbessern.<br>
    Wir nutzen Cookies, um unsere Webseite nutzerfreundlicher zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät
    gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.<br>
    Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies
    informiert und Sie dies nur im Einzelfall erlauben.<br>
    Sie können jederzeit Cookies, die sich bereits auf Ihrem Computer befinden, löschen oder Cookies deaktivieren. Die
    Vorgangsweise dazu ist nach Browser unterschiedlich, am besten Sie suchen die Anleitung in Google mit dem Suchbegriff
    „cookies löschen chrome“ oder „cookies deaktivieren chrome“ im Falle eines Chrome Browsers oder tauschen das Wort
    „chrome“ gegen den Namen Ihres Browsers, z. B. edge, firefox, safari aus.<br>
    Wenn Sie uns generell nicht gestatten, Cookies zu nutzen, d.h. diese per Browsereinstellung deaktivieren, können
    manche Funktionen und Seiten nicht wie erwartet funktionieren.</p>
  <h2 class="display-3 ">Google Fonts Datenschutzerklärung</h2>
  <p>Wir verwenden Google Fonts der Firma Google Inc.
    (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf unserer Webseite. Die Verwendung von Google Fonts erfolgt
    ohne Authentisierung und es werden keine Cookies and die Google Fonts API gesendet. Sollten Sie ein Konto bei Google
    haben, werden keine Ihrer Google-Kontodaten an Google während der Nutzung von Google Fonts übermittelt. Google erfasst
    lediglich die Nutzung von CSS und der verwendeten Fonts und speichert diese Daten sicher. Mehr zu diesen und weiteren
    Fragen finden Sie auf <a class=" " href="https://developers.google.com/fonts/faq" rel="nofollow">https://developers.google.com/fonts/faq</a>.
  </p>
  <p>Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf <a class=" " href="https://www.google.com/intl/de/policies/privacy/" rel="nofollow">https://www.google.com/intl/de/policies/privacy/</a>
    nachlesen.</p>
  <h2 class=" display-3">Google Maps Datenschutzerklärung</h2>
  <p>Wir verwenden Google Maps der Firma Google Inc.
    (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf unserer Webseite.</p>
  <p>Durch die Nutzung der Funktionen dieser Karte werden Daten an Google übertragen. Welche Daten von Google erfasst
    werden und wofür diese Daten verwendet werden, können Sie auf <a class=" "
                                                                     href="https://www.google.com/intl/de/policies/privacy/"
                                                                     rel="nofollow">https://www.google.com/intl/de/policies/privacy/</a>
    nachlesen.</p>
  <h2 class="display-3">Google Analytics Datenschutzerklärung</h2><p>Wir verwenden auf dieser Website Google
  Analytics der Firma Google LLC (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) um Besucherdaten statistisch
  auszuwerten. Dabei verwendet Google Analytics zielorientierte Cookies.</p>
  <h3 class="display-3 ">Cookies von Google Analytics</h3>
  <ul class="list-group ">
    <li class="list-group-item">_ga
      <ul class=" list-group">
        <li class=" list-group-item">Ablaufzeit: 2 Jahre</li>
        <li class=" list-group-item">Verwendung: Unterscheidung der Webseitenbesucher</li>
        <li class=" list-group-item ">Beispielhafter Wert:&nbsp;GA1.2.1326744211.152221062203</li>
      </ul>
    </li>
    <li class="list-group-item ">_gid
      <ul class="list-group">
        <li class="list-group-item ">Ablaufzeit: 24 Stunden</li>
        <li class="list-group-item">Verwendung: Unterscheidung der Webseitenbesucher</li>
        <li class="list-group-item">Beispielhafter Wert: GA1.2.1687193234.152221062203</li>
      </ul>
    </li>
    <li class="list-group-item">_gat_gtag_UA_&lt;property-id&gt;
      <ul class="list-group">
        <li class="list-group-item">Ablaufzeit: 1 Minute</li>
        <li class="list-group-item ">Verwendung:&nbsp;Wird zum Drosseln der Anforderungsrate verwendet. Wenn Google
          Analytics über den Google Tag Manager bereitgestellt wird, erhält dieser Cookie den Namen _dc_gtm_ &lt;property-id&gt;.
        </li>
        <li class="list-group-item ">Beispielhafter Wert: 1</li>
      </ul>
    </li>
  </ul>
  <p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a class=" "
                                                                                     href="http://www.google.com/analytics/terms/de.html"
                                                                                     rel="nofollow">http://www.google.com/analytics/terms/de.html</a>
    bzw. unter <a class=" " href="https://support.google.com/analytics/answer/6004245?hl=de"
                  rel="nofollow">https://support.google.com/analytics/answer/6004245?hl=de</a>.</p>
  <h3 class="display-3 ">Pseudonymisierung</h3>
  <p>Unser Anliegen im Sinne der DSGVO ist die Verbesserung unseres Angebotes und unseres Webauftritts. Da uns die
    Privatsphäre unserer Nutzer wichtig ist, werden die Nutzerdaten pseudonymisiert.&nbsp;Die Datenverarbeitung erfolgt
    auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 EU-DSGVO Abs 1 lit a (Einwilligung)
    und/oder f (berechtigtes Interesse) der DSGVO.</p>
  <h3 class="display-3 ">Deaktivierung der Datenerfassung durch Google Analytics</h3>
  <p>Mithilfe des <strong class=" ">Browser-Add-ons zur Deaktivierung</strong> von Google
    Analytics-JavaScript (ga.js, analytics.js, dc.js) können Website-Besucher verhindern, dass Google Analytics ihre Daten
    verwendet.</p>
  <p>Sie können die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten an Google
    sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare
    Browser-Plugin herunterladen und installieren: <a class=" "
                                                      href="https://tools.google.com/dlpage/gaoptout?hl=de"
                                                      rel="nofollow">https://tools.google.com/dlpage/gaoptout?hl=de</a>
  </p>
  <p>&nbsp;</p>
  <h2 class=" display-3">Eingebettete Social Media Elemente Datenschutzerklärung</h2><p>Wir binden auf unserer
  Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.<br>
  Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social Media
  Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.<br>
  Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit Ihren
  Daten umgehen:</p>
  <ul class="list-group">
    <li class="list-group-item">Instagram-Datenschutzrichtlinie: <a class=" "
                                                                    href="https://help.instagram.com/519522125107875?tid=221062203"
                                                                    target="_blank" rel="noopener nofollow">https://help.instagram.com/519522125107875</a>
    </li>
    <li class="list-group-item">Für YouTube gilt die Google Datenschutzerklärung: <a class=" "
                                                                                     href="https://policies.google.com/privacy?hl=de&amp;tid=221062203"
                                                                                     target="_blank"
                                                                                     rel="noopener nofollow">https://policies.google.com/privacy?hl=de</a>
    </li>
    <li class="list-group-item ">Facebook-Datenrichtline:&nbsp;<a class=" "
                                                                  href="https://www.facebook.com/about/privacy?tid=221062203"
                                                                  target="_blank" rel="noopener nofollow">https://www.facebook.com/about/privacy</a>
    </li>
    <li class="list-group-item ">Twitter Datenschutzrichtlinie:&nbsp;<a class=" "
                                                                        href="https://twitter.com/de/privacy?tid=221062203"
                                                                        target="_blank" rel="noopener nofollow">https://twitter.com/de/privacy</a>
    </li>
  </ul>
  <h2 class="display-3">Facebook Datenschutzerklärung</h2><p>Wir verwenden auf dieser Webseite Funktionen von
  Facebook, einem Social Media Network der FIrma Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour,
  Dublin 2 Ireland.<br>
  Welche Funktionen (Soziale Plug-ins) Facebook bereitstellt, können Sie auf <a class=" "
                                                                                href="https://developers.facebook.com/docs/plugins/"
                                                                                rel="nofollow">https://developers.facebook.com/docs/plugins/</a>
  nachlesen.<br>
  Durch den Besuch unserer Webseite können Informationen an Facebook übermittelt werden. Wenn Sie über ein
  Facebook-Konto verfügen, kann Facebook diese Daten Ihrem persönlichen Konto zuordnen. Sollten Sie das nicht wünschen,
  melden Sie sich bitte von Facebook ab.<br>
  Die Datenschutzrichtlinien, welche Informationen Facebook sammelt und wie sie diese verwenden finden Sie auf <a
    class=" " href="https://www.facebook.com/policy.php" rel="nofollow">https://www.facebook.com/policy.php</a>.
</p>
  <h2 class="display-3">Instagram Datenschutzerklärung</h2><p>Wir verwenden auf unserer Webseite Funktionen des
  Social Media Netzwerks Instagram der Firma Instagram LLC, 1601 Willow Rd, Menlo Park CA 94025, USA.</p>
  <p>Mit den Funktionen zum Einbetten von Instagram-Inhalten (Embed-Funktion) können wir Bilder und Videos anzeigen.</p>
  <p>Durch den Aufruf von Seiten die solche Funktionen nutzen werden Daten (IP-Adresse, Browserdaten, Datum, Uhrzeit,
    Cookies) an Instagram übermittelt, gespeichert und ausgewertet.</p>
  <p>Sollten Sie ein Instagram-Konto haben und angemeldet sein, werden diese Daten Ihrem persönlichen Konto und den darin
    gespeicherten Daten zugeordnet.</p>
  <p>Die Datenschutzrichtlinien, welche Informationen Instagram sammelt und wie sie diese verwenden finden Sie auf <a
    class=" " href="https://help.instagram.com/519522125107875?tid=221062203" target="_blank"
    rel="noopener nofollow">https://help.instagram.com/519522125107875</a>.</p>
  <h2 class="display-3 ">Google+ Datenschutzerklärung</h2><p>Wir nutzen auf unserer Webseite Funktionen von
  Google+, dem Social Network der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA).</p>
  <p>Wenn Sie die angebotenen Funktionen voll nutzen möchten, benötigen Sie ein Google Konto.</p>
  <p>Auch bei der Nutzung der Funktionen (Google +1 Buttons, Google+ Badge, Follow button, Google+ Share button und Link,
    Sign-In Button, Hangout Button) ohne Google Konto werden bereits Informationen an Google übermittelt.</p>
  <p>Wenn Sie mit Ihrem Google Konto während der Nutzung der oben angeführten Funktionen angemeldet sind, werden Ihre
    Daten je nach Einstellung auf <a class=" " href="https://plus.google.com/settings/" rel="nofollow">https://plus.google.com/settings/</a>
    weltweit veröffentlicht und von Google gesammelt und ausgewertet.</p>
  <p>Welche Daten von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auf <a
    class=" " href="https://www.google.com/intl/de/policies/privacy/" rel="nofollow">https://www.google.com/intl/de/policies/privacy/</a>
    nachlesen.</p>
</div>
