<br><div class="container">
  <div class="card  ">
    <div class="card-header " [ngClass]="color"><h3 class="display-3 text-center" >Tags hinzufügen</h3></div>
    <br>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="color">Farbe auswählen</label>
              <select class="form-control "  id="color" [(ngModel)]="color"  >
                <option selected = "selected" value="bg-primary">primary</option>
                <option  value="bg-secondary">secondary</option>
                <option  value="bg-info">info</option>
                <option  value="bg-white">white</option>
                <option  value="bg-danger">danger</option>
                <option  value="bg-warning">warning</option>
                <option  value="bg-light">light</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <label for="bt">&nbsp;</label>
            <button  id="bt" type="submit" class=" btn btn-block btn-primary"  (click)="addTag()"><i class="fa fa-add" aria-hidden="true"></i> hinzufügen</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
