
  <div class="header " style="box-shadow: 2px 2px ;background-image : url('https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7491eb281478f3b97661bae38cbcb34b&auto=format&fit=crop&w=1351&q=80')">
    <br>
    <div class="mx-auto my-3" style="width: 800px; opacity: 0.6 ;"> <h4 class="display-2 align-content-center " style="background-color: whitesmoke"><p style="opacity: 1;">{{profile?.given_name}}'s Dashboard</p></h4></div>
  </div>
<br>

<div class="container ">
  <div class="card">
    <div class="card-header">
      <h3 class="display-3 mx-auto"><p class="text-center">Startseite</p></h3>
    </div>
    <div class="card-body">
      <div class="container ">
        <div class="row">
          <h4 class="display-5 mx-auto">Absätze formatieren</h4>
          <button  type="submit" class=" btn btn-block btn-dark" routerLink="/admin/editInfo"><i class="fa fa-info" aria-hidden="true"></i> Absätze formatieren</button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class=" my-auto">
              <div class="container" ><br>
                <div class="card  " >
                  <div class="card-header " [ngClass]="color"><h3 class="display-3 text-center"  >Preise </h3></div>
                  <br>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name">Beschreibung</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="content">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="color">Farbe auswählen</label>
                            <select class="form-control "  id="color" [(ngModel)]="color"  >
                              <option selected = "selected" value="bg-primary"  >primary</option>
                              <option  value="bg-secondary" >secondary</option>
                              <option  value="bg-info" >info</option>
                              <option  value="bg-danger" >danger</option>
                              <option  value="bg-warning" >warning</option>
                              <option  value="bg-light" >light</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row"><div class="mx-auto">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="invert">
                        <label class="form-check-label" for="exampleCheck1">Schriftfarbe invertieren</label>
                      </div></div>
                      <div class="row">
                        <label for="bt">&nbsp;</label>
                        <button  id="bt" *ngIf="!update?.id" type="submit" class=" btn btn-block btn-primary"  (click)="addPreis()"><i class="fa fa-add" aria-hidden="true"></i> hinzufügen</button>
                        <button  *ngIf="update?.id" id="bt2" type="submit" class=" btn btn-block btn-info"  (click)="updatePreis(update?.id,update?.index)"><i class="fa fa-add" aria-hidden="true"></i> ändern</button>
                      </div>
                      <div class="row">
                        <br><div class="row"><br></div><br>
                        <h5 class="display-4 mx-auto">bereits vorhanden</h5>
                      </div>
                      <div class="row" *ngIf="preise" >
                        <div class="col-md-12">
                          <ul class="list-group">
                            <li class="list-group-item" [ngClass]="preis.color"   *ngFor="let preis of preise, index as index" >
                              <div class="row">
                                <div class="col-md-6 my-auto text-center"><h5 class="display-5" [ngClass]="showUsed(preis.color)">{{preis.content}}</h5>         </div>
                                <div class="col-md-3"><button class="btn btn-outline-primary btn-block" (click)="setFlag(preis?._id, index)"> &nbsp;<i class="mx-auto fa fa-circle-o-notch"  aria-hidden="true"></i></button></div>
                                <div class="col-md-3"><button class="btn btn-outline-danger btn-block" (click)="deleteTag(preis?._id, index)"> &nbsp;<i class="fa fa-close"  aria-hidden="true"></i></button></div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br>
          </div>
          <div class="col-md-6">
            <div class="card-body" *ngIf="headings">
              <h5 class="display-5 text-center">Sektionen</h5>
              <ul class="list-group ">
                <li class="list-group-item"><input type="text" class="form-control" [(ngModel)]="h1"></li>
                <li class="list-group-item"><input type="text" class="form-control" [(ngModel)]="h2"></li>
                <li class="list-group-item"><input type="text" class="form-control" [(ngModel)]="h3"></li>
                <li class="list-group-item"><input type="text" class="form-control" [(ngModel)]="h4"></li>
                <li class="list-group-item"><input type="text" class="form-control" [(ngModel)]="h5"></li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <button class="btn btn-block btn-primary"  (click)="updateHeadings()">Preise & Sektionen speichern</button>
        </div>
      </div>
    </div>
  </div>

</div>


  <app-heading-info></app-heading-info>
    <app-tags></app-tags>
  <app-post-blog></app-post-blog>
  <app-image-own></app-image-own>
  <br><br>
  <app-gallery-board></app-gallery-board>

