<div class="mx-auto" style="width: 800px"> <h4 class="display-2">{{profile?.given_name}}'s Dashboard</h4></div>
<br>

<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <button  type="submit" class=" btn btn-block btn-info" routerLink="/admin/editInfo"><i class="fa fa-info" aria-hidden="true"></i> Info Seite aktualisieren</button>
  </div>
  <div class="col-4">
    <button  type="submit" class=" btn btn-block btn-primary" routerLink="/admin/editInfo/preisInfo"><i class="fa fa-book" aria-hidden="true"></i> Buchungsseite aktualisieren </button>
  </div>
  <div class="col-2"></div>
</div>
<br>
<div class="row">
  <div class="col-2"></div>
  <!--
  <div class="col-4">
    <button  type="submit" class=" btn btn-block btn-primary" routerLink="/admin/editInfo/preisInfo"><i class="fa fa-book" aria-hidden="true"></i> Buchungsseite aktualisieren </button>
  </div>
  <div class="col-4">
    <button  type="submit" class=" btn btn-block btn-primary" routerLink="/admin/editInfo/mailtext"><i class="fa fa-mail-forward" aria-hidden="true"></i> Text der Bestätigungs Email</button>
  </div> -->
  <div class="col-2"></div>
</div>
