<br><br>
<!-- using pill badges to navigate -->
<div class="row ">
  <div class="mx-auto ">
    <span class="badge badge-pill badge-dark flex-item text-center" (click)="setOrder('time')"> <p class="lead">Aktuell</p></span>
    <span class="badge badge-pill badge-dark flex-item text-center" (click)="setOrder('form.title')"> <p class="lead">Kommentare</p></span>
    <span class="badge badge-pill badge-dark  text-center " (click)="setOrder('form.tags')"> <p class="lead">Top Bewertet</p></span>

      <span class="badge badge-pill badge-primary text-center"  (click)="setOrder('time')"> <p class="lead">Reisen</p></span>
      <span class="badge badge-pill badge-danger text-center" (click)="setOrder('form.title')"> <p class="lead">Kulinarisch</p></span>
      <span class="badge badge-pill badge-success text-center " (click)="setOrder('form.tags')"> <p class="lead">tags</p></span>
  </div>
</div>
<br>
<div class="row ">
  <div class="mx-auto"></div>
</div>

<div class="row"  >
  <div class="col-md-7 offset-2" *ngFor="let post of data | orderBy: order; index as i" >
    <div class="card card-inverse" routerLink="post/{{i}}">
      <div class="card-img-top"></div>
      <div class="card-header">
        <h3 class="card-title text-center">{{post?.form.title}} </h3>
        <p class="pull-right">{{post?.time}}</p>
      </div>
      <div class="card-block">
        <p class="card-text text-center mx-auto"[innerHtml]="post.form.content" ></p>
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-3 pull-right">
            <div class="badge-light text-center" > {{ post?.form.tags }}</div>
          </div>

        </div>
      </div>
    </div>
    <br>
  </div>
</div>

  <div class="row"><br><br></div>


