<ng-template #loading><br><br>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div class="container" *ngIf="bookings"><br>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Month
        </div>
        <!--<div
          class="btn btn-primary"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Week
        </div>-->
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>
  </div>
</div>
<br><br>
