<div class="row">
  <div class="col-md-12">
    <div class="backimg">
      <form [formGroup]="bookingForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="first_name">Vorname</label>
            <input type="text" class="form-control" id="first_name" placeholder="Vorname" formControlName="first_name">
          </div>
          <div class="form-group col-md-6">
            <label for="last_name">Nachname</label>
            <input type="text" class="form-control" id="last_name" placeholder="Nachname" formControlName="last_name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="youremail@example.com" formControlName="email">
          </div>
          <div class="form-group col-md-4">
            <label for="people">Erwachsene</label>
            <select class="form-control" id="people" name='people' formControlName="people">
              <option selected>1</option>
              <option >2</option>
              <option >3</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="kids">Kinder | 2 - 12 Jahren</label>
            <select class="form-control" name='kids' id="kids" formControlName="kids">
              <option selected>0</option>
              <option >1</option>
              <option >2</option>
              <option >3</option>
              <option >4</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="check_in">Check In</label>
            <input type="text" class="form-control" id="check_in" placeholder="DD.MM.YYYY" formControlName="dateFrom">
          </div>
          <div class="form-group col-md-6">
            <label for="check_out">Check out</label>
            <input type="text" class="form-control" id="check_out" placeholder="DD.MM.YYYY" formControlName="dateTo">
          </div>
          <div class="form-group col-md">
            <p  style="" class="text-center" for="daterange">Zeitraum auswählen oder eintippen | Choose daterange or just type it</p>
            <input daterangepicker id="daterange" (selected)="dateSelected($event)" [options]="pickerOptions" type="submit"
                   class="form-control btn btn-outline-info"
                   (cancelDaterangepicker)="calendarCanceled($event)" (applyDaterangepicker)="calendarApplied($event)"/>
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Details zur Buchungsanfrage  | optional</label>
          <textarea class="form-control" id="comment" rows="3" formControlName="comment"></textarea>
        </div>
        <div class="col-md">
          <button *ngIf="bookingForm.valid"  type="submit" class="btn btn-block btn-outline-success" (click)="addBooking()">Absenden</button>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <p class="lead text-justify"><i>{{preisInfo}}</i></p>
  </div>
    <div class="col-md-8 d-flex flex-wrap justify-content-center">
      <span id="price" class=" badge badge-primary  p-2 justify-content-center">
              <p class="lead p-2 ">{{nights}} * {{price}} € <small>pro Nacht </small>  + <b>30 €</b> <small>Reinigungsgebühr </small></p>
        <p class="lead p-2"><b>=</b></p>
              <h4 class="display-4 d-inline-flex justify-content-center">{{complete}} € </h4>
            </span>
    </div>
</div>
