<br><div class="container">
  <div class="card  ">
    <div class="card-header " ><h3 class="display-3 text-center" >Bilder auswählen -> Post</h3></div>
    <br>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12 form-group">
            <image-upload url="{{img_endpoint}}"  dropBoxMessage="Bilder drop zone"  (uploadFinished)="addImg($event)"></image-upload></div>
        </div>
        <div class="row" *ngIf="imgService.getImgs()">
          <div class="col-md-6 form-group">
            <ul class="list-group">
              <li class="list-group-item ">
                <label for="filter">Bild finden</label>
                <input type="text" id="filter" class="form-control" [(ngModel)]="filter.name" placeholder="suchen">
              </li>
              <li class="list-group-item text-center "
                  [ngClass]="{'active': img?._id === preview?._id}" *ngFor="let img of imgService.imgs |filterBy:filter; index as index"
                  (click)="setPreview(index)" ngxClipboard [cbContent]="img.path" >
              <div class="row">
                <div class="col-md-7 mx-auto text-center">{{img.name}}</div>
                <div class="col-md-2"></div>
                <div class="col-md-3"><br><div class="btn btn-lg"><i class="fa fa-close" (click)="deleteImg(index)" aria-hidden="true"></i></div></div>
              </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 ">
            <div class="mx-auto" *ngIf="preview">
              <img [src]="preview.path" class="img-fluid mx-auto" alt="preview-img">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<br><br>
